@import "index.css";
#home{
	background-image: url('../images/interaction.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover; 
    width: 100%;
	text-align:left;
}
.menu li:hover > a { color: #B00000;}

.myName h1:hover > a { color: #B00000; }

#ligneNoir
{
	background-color:#B00000;
}
#ligne
{
	background-color:rgba(176, 0, 0, 0.30);
}

#surmiddle
{
	background-color:rgba(176, 0, 0, 0.10);
}

#lignePied
{
	background-color:#B00000;
}