@import "index.css";

.menu li:hover > a { color: #E85914;}

.myName h1:hover > a { color: #E85914; }


#ligneNoir
{
	background-color:#E85914;
}

#ligne
{
	background-color:rgba(232, 89, 20, 0.30)
}

#divpresentation 
{
	margin-top : 100px;
}

#lignePied
{
	background-color:#E85914;
}