/* 
    Document   : myCss
    Created on : 13 mars 2014, 12:45:35
    Author     : Maxime
    Description:
        Purpose of the stylesheet follows.
*/

body {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin-left: 0;
}



#footer {
    background-color: #052929;
    position: absolute;
    bottom: 0px;
    height:40px;
    width: 100%;
}

#header
{ 
    position: fixed;
    top: 3px;
    background-color:rgba(0, 0, 0, 0.82);
    height:75px;
    width: 100%;
}

#ligneNoir
{
    position: fixed;
    top: 0;
    background-color:rgba(0, 0, 0, 1);
    height:3px;
    width: 100%;
}

#ligne
{
    position: fixed;
    top: 78px;
    background-color:rgba(0, 0, 0, 1);
    height:2px;
    width: 100%;
}

.myName {
    color: white;
    position: relative;
    margin-right: 15%;
    text-align:right;
    width:233px;
    z-index: 2;
    top: -5px;
    float: right;
}

.myName h1 a {
    text-decoration: none;

    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);

    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -ms-transition: color .5 ease-in-out;
    transition: color .5s ease-in-out;
}
.myName h1:last-child a{ border-right: none; }
.myName h1:hover > a { color: #37B5C4; }

.menu,.menu ul,.menu li,.menu a {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

.menu {
    position: relative;
    height: 75px;
    width:400px;
    top:20px;
    text-align: left;
    margin-left: 15%;
}

.menu li {

    position: relative;
    list-style: none;
    float: left;
    display: block;
    height: 75px;
}

.menu li a {
    display: block;
    padding: 0 40px;
    margin: 6px 0;

    text-decoration: none;

    /* Pour mettre en place un s�parateur
    line-height: 40px;
    border-left: 1px solid #393942;
    border-right: 1px solid #4f5058;*/
    font-size: 15px;

    color: white;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);

    -webkit-transition: color .5s ease-in-out;
    -moz-transition: color .5s ease-in-out;
    -o-transition: color .5s ease-in-out;
    -ms-transition: color .5s ease-in-out;
    transition: color .5s ease-in-out;
}

.menu li:hover > a { color: #37B5C4;}

.menu ul {
    position: absolute;
    top: 55px;
    left: 0;

    opacity: 0;
    background-color:rgba(0, 0, 0, 0.82);

    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;

    -webkit-transition: opacity 2s ease .1s;
    -moz-transition: opacity 2s ease .1s;
    -o-transition: opacity 2s ease .1s;
    -ms-transition: opacity 2s ease .1s;
    transition: opacity 2s ease .1s;
}

.menu li:hover > ul { opacity: 1; }

.menu ul li {
    height: 0;
    overflow: hidden;
    padding: 0;

    -webkit-transition: height .25s ease .01s;
    -moz-transition: height .25s ease .01s;
    -o-transition: height .25s ease .01s;
    -ms-transition: height .25s ease .01s;
    transition: height .25s ease .01s;
}

.menu li:hover > ul li {
    height: 26px;
    overflow: visible;
    padding: 0;
}

.menu ul li a {
    width: 100px;
    padding: 4px 10px;
    margin: 0;

    border: none;
    border-bottom: 1px solid #353539;
}


.menu ul li:last-child a { border: none; }


/*#home
{
	z-index: 9;
	background-color:#FFFFFF;
        color: #333333;
	height: 600px;
	text-align:left;
}*/

/*#container {  
        z-index: 9;
	margin-top: 180px;
	position:absolute;
}  */

#content {
    color: black;
    margin-left: 100px;
    margin-top:130px;
    text-align:justify;
}

.MsgAlert
{
    left:40%;
    top:40%;
    position:absolute;
    width:200px;
    /*background:url(gfx/content00.gif) repeat-y;*/
    cursor:default;
}


.MsgAlert p 
{
    margin-top: 0%; 
    font-family:Arial; 
    font-size:14px;
    text-align:center; 
    color:white; 
    padding-left:10px; 
    padding-right:10px;
} 

.MsgAlert input 
{
    margin-top: 3%;
    border:none;
    height:24px;
    width:80px;
    /*background:url(gfx/boutton_valider.gif);*/
    cursor: pointer;
}

.MsgAlert input:hover 
{
    margin-top: 3%;
    border:none;
    height:24px;
    width:80px;
    /*background:url(gfx/boutton_valider_hover.gif);*/
    cursor:pointer;
}